*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: arial;
}

body{
  background: url(bg.jpg);
  background-position: center;
  background-size: cover;
}

.nav{
  margin-top: 70px;
  width: 200px;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.nav ul li{
  margin-left: 50px;
  list-style:none;
}

.nav li a{
  color:#fff;
  line-height: 100px;
  font-size: 24px;
  text-decoration: none;
  list-style: none;
  transition: .3s ease;
}

.nav li a:hover{
  padding: 24px;
  border-radius: 24px;
  background: pink;
}

.kriz{
  top: 0;
  position: fixed;
  width: 100%;
  background: gray;
}

.kriz ul{
  list-style: none;
  background: black;
}

.kriz ul li{
  display: inline-block;
  position: relative;
}

.kriz ul li a{
  display: block;
  padding: 25px 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.kriz ul li ul.dropdown li{
  display: block;
}

.kriz ul li ul.dropdown{
  width: 100%;
  background: gray;
  position: absolute;
  z-index: 999;
  display: none;
}

.kriz ul li a:hover{
  background: pink;
}

.kriz ul li:hover ul.dropdown{
  display:block;
}

.box img{
  margin-top: -10px;
  width:450px;
  height: 300px;
  border-radius: 20%;
}

.box{
  width: 550px;
  background: rgba(0,0,0,0.4);
  padding: 30px;
  text-align: center;
  margin: auto;
  margin-top: 6%;
  color: #fff;
  font-family: 'Century Gothic', sans serif;
  border-radius: 10%;
}

.box h2{
  color: gold;
  text-transformation: uppercase;
  font-weight: bold;
}

.box p{
  letter-spacing: 3px;
}

.reg{
  
     padding: 110px;
     text-align: center;
     margin: 20px;
     margin-top: 2%;
     color: #fff;
     font-family: 'Zaio', sans-serif;
   
}

.reg p{
       margin-bottom: 24px;
       height: 15px;
}


.image img{
        margin-top: 40px;
        border-radius: 240px;
        float: right;
        margin-right: 100px;
        width:550px;
}
